on:
  workflow_dispatch:
  push:
    branches:
      - main
      - dev

name: Quarto Publish

jobs:
  build-deploy:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install system dependencies
        run : |
          sudo apt-get update
          sudo apt-get upgrade
          sudo apt-get install libudunits2-dev libgdal-dev libcurl4-openssl-dev libxml2 libglpk-dev

      - name: Set up R
        uses: r-lib/actions/setup-renv@v2

      - name: Recreate environment
        uses: r-lib/actions/setup-renv@v2

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
